#back {
  font-size: 60px;
  font-weight: bold;
  color: white;
}

h1 {
  font-family: mirzareg;
  font-size: 50px;
  color: white;
  flex-grow: 1;
}

button {
  background-color: white;
  border: none;
  border-radius: 30px;
  text-align: center;
  width: 225px;
  height: 50px;
  margin-top: 20px;
  margin-left: 50px;
  font-family: opensansreg;
  font-size: 18px;
  transition: 0.5s;
}

button:hover,
button.active {
  background-color: rgba(165, 129, 82, 1);
}

button > p {
  color: black;
  transition: 0.5s;
}

button:hover > p,
.active > p {
  color: white;
}

.item img {
  width: 300px;
  margin: 40px 0 40px 100px;
}
